:root{
    --gris-claro:  #ADADAD;
    --blanco: #f0f1f1;
    --rojo:  #D62D2D;
    --negro: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--negro) !important   ;
}

.barra-navegacion{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.navegacion{
    display: flex;
    justify-content: center;
    gap: 25px;
}

#estilo-texto{
    font-size: 1.5em;
    color: var(--blanco);
    font-weight: bolder;

}

.borde{
    padding-left: 20px;
    border-left: 2px solid var(--blanco);
}

/* Menu Hamburguesa*/

/* Fin Menu Hamburguesa*/

.contenedor-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.imagenes{
    width: 50%;
    color:white;
    display: flex;
    height: auto;
    justify-content: center;
    background-color: red;
}