:root{
    --gris-claro:  #ADADAD;
    --blanco: #f0f1f1;
    --rojo:  #D62D2D;
    --negro: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--negro) !important   ;
}

.barra-navegacion{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.navegacion{
    display: flex;
    justify-content: center;
    gap: 25px;
}

#estilo-texto{
    font-size: 1.5em;
    color: var(--gris-claro);
    font-weight: bolder;

}

.borde{
    padding-left: 20px;
    border-left: 2px solid var(--blanco);
}

/* Menu Hamburguesa*/

/* Fin Menu Hamburguesa*/

.contenedor-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-direction: column;
    
}

.imagenes{
    width: 50%;
    color:white;
    display: flex;
    height: auto;
    margin: auto;
    justify-content: center;
    
}

.estilo-imagenes{
    width: 400px;
    height: 550px;
}

.user-info{
    width: 400px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.foto-nombre-usuario{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.foto-de-perfil{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
    
}

.estilo-nombre-usuario{
    margin-left: 5%;
    width: auto;
    font-size: 1.2rem;
    font-weight: bolder;
    color:#f0f1f1;
}

.iconos{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:15px;
}

hr{
    width: 21%;
    margin: auto;
    height: .10rem;
    background-color: var(--blanco);
    border-color: var(--blanco);
    margin-top: 20px;
}



