:root{
    --gris-claro:  #ADADAD;
    --blanco: #f0f1f1;
    --rojo:  #D62D2D;
    --negro: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--negro) !important ;
    height: 100vh;
}

/* NAVEGACION PAGINA */

.barra-navegacion{
    width: 100%;
    height: 56px;
    padding-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    position: fixed;
    background-color: var(--negro);
    align-items: flex-end;
    z-index: 3;
}

.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.estilo-texto{
    font-size: 1.5em;
    color: var(--gris-claro);
}

.estilo-texto:hover{
    cursor: pointer;
}

.estilo{
    color: var(--blanco);
    font-weight: bolder;
    border-bottom: 2px solid var(--blanco);
    border-bottom-width: medium ;
    fill: var(--blanco);
}

.estilo-borde{
    border-left: 3px solid var(--blanco);
    padding-left: 20px;

}
/* ------------ */

/* BARRA NAVEGACION */

.input-navegacion{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;

}

.nav-bar{
    width: 60%;
    height: 35px;
    border-radius: 80px;
    margin-top: 10px;
}

/*---------------*/

/* INTERFAZ PERFIL */

.navegacion-perfil{
    display: flex;
    width: 100px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    color: var(--blanco);
    position: absolute;
    left: 90%;
}

.invisible{
    width: 100%;
    height: 70px;
    background-color: var(--negro);
}

.mas:hover{
    cursor: pointer;
}

/* ------------- */

/* MAIN PUBLICACIONES */

main{
    height: calc(100vh - 70px);
    
}
.contenedor-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-direction: column;
    
}

.imagenes{
    width: 50%;
    color:var(--blanco);
    display: flex;
    height: auto;
    margin: auto;
    justify-content: center;
    
}

.estilo-imagenes{
    width: 400px;
    height: 550px;
}


.claseParaProbar{
    width: 400px;
    height: 550px;
    background-color: var(--negro);
    position: absolute;
    opacity: 0.75;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
}

.user-info{
    width: 400px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.foto-nombre-usuario{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.foto-de-perfil{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
}

.foto-de-perfil-1{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.foto-de-perfil-1:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
    transition: .05s;
}

.estilo-nombre-usuario{
    margin-left: 5%;
    width: auto;
    font-size: 1.2rem;
    font-weight: bolder;
    color:var(--blanco);
}

.iconos{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:15px;
}

.borde{
    stroke: var(--rojo);
}

.estilo-icono:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

hr{
    width: 30rem;
    margin: auto;
    height: .5px;
    background-color: var(--blanco);
    border-color: var(--blanco);
    margin-top: 20px;
}

/* ---------------*/

/* SUBIR ARCHIVO*/

.publicacion{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 4;
}

.subir-archivo{
    margin-bottom: 2%; 
    height: 220px;
    border: solid 3px var(--negro);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.texto-archivo{
    color: var(--negro);
    font-size: 1.5em;
    font-weight: bolder;
    
}

.contenedor-subir{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blanco);    
}

.contenedor-flecha{
    width: 100%;
    height: 5vh;
}

.orden-elementos{
    margin: auto;
    width: 90%;
    height: auto;
    margin-bottom: 2%;
}

.contenedor-info{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    
}

.labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    font-size: 1.15em;
    font-weight: bolder;
}

.estilo-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 20px;
    margin-bottom: 5px;
}

.no-border{
    background-color: var(--blanco);
    border: var(--negro) 3px solid;
    color: var(--negro);
    font-weight: bolder;
    padding: 5px;
}

.no-border::placeholder{
    font-size: 1.3em;
    padding-left: 5px;
    color: var(--negro);
}

.precio-border{
    width: 20%;
    border: 0;
    border-bottom: solid 2px var(--negro);
    background-color: var(--blanco);
}

.boton-publicar{
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publicar{
    width:100%;
    color: var(--blanco);
    font-size: 1.3em;
    font-weight: bolder;
    background-color:var(--negro);
}

.estilo-lables{
    font-weight: bolder;
    font-size: 1.15em;
}

.publicar:hover{
    cursor: pointer;
}

/* ----------*/

.opciones{
    font-size: 3em;
}

#verde{
    color: green;
}

#rojo{
    color: var(--rojo)
}

#amarillo{
    color: yellow;
}

/*BASE EXTENDIDO --> PERFIL*/
.mi-perfil{
    display: flex;
    margin: auto;
    width: 7%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: calc(100vh - 53px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    width: auto;
    height: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 20px;
}

.foto{
    width: 195px;
    height: 255px;
}

/*-------*/