:root{
    --gris-claro:  #ADADAD;
    --blanco: #f0f1f1;
    --rojo:  #D62D2D;
    --negro: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--negro);
}

#contenedor{
    display: flex;
    height: 80vh;
    place-items: center;
    justify-content: center;
    
}

#login{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 5em;
    color: var(--blanco);
}

.contenedor-textos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    width: 60%;
}

#username-login{
    font-size: 1.3em;
    background-color: var(--negro);
    border: 0;
    color: var(--blanco);
    font-weight: bolder;
    outline: none;
    margin-left: 10px;
}

#username-password{
    font-size: 1.3em;
    background-color: var(--negro);
    border: 0;
    color: var(--blanco);
    font-weight: bolder;
    outline: none;
    margin-left: 10px;
}

#username-login::placeholder{
    color:var(--gris-claro)
}

#username-password::placeholder{
    color:var(--gris-claro)
}

hr{
    color:var(--blanco);
}

.contenedor-botones{
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.btn {
    width: 48%;     /* es variable al boton */
    border-radius: 20px;
    background-color: var(--blanco);
    color: var(--negro);
    font-size: 1.5em;
    font-weight: bolder;
    border: solid black 1px;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--gris-claro);
    transition: .6s;
}