<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="/Proyecto/static/styles/base-style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</head>
<body>

    <header>
        <nav class="barra-navegacion">
            <div class="menu-desplegable">

            </div>

            <div class="navegacion">
                <div id="estilo-texto" >Buscar</div>
                <div id="estilo-texto" class="borde" >Publicaciones</div>
                <div id="estilo-texto" class="borde" >Mensajes</div>
            </div>

            <div class="navegacion-perfil">

            </div>
        </nav>
    </header>

</body>
</html>