<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base-style.css')}}"> 
    <!-- CSS only -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
</head>
<body onload="load()">
  {% block navegador%}
    <header >
        <nav class="barra-navegacion">
            <div class="logo">
              
            </div>

            <div class="navegacion">
              <div class="" onclick="buscar()" ><h2 class="estilo-texto estilo" id="estilo1"> Buscar </h2></div>
              <div class="estilo-borde" onclick="publicacion()" ><h2 class="estilo-texto estilo2 estilo" id="estilo2"> Publicaciones </h2></div>
              <div class="estilo-borde " onclick="mensaje()" ><h2 class="estilo-texto estilo3 estilo" id="estilo3"> Mensajes </h2></div>
            </div>

            <div class="navegacion-perfil">
              <div class="subir-foto" onclick="lineaFoto()">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="grey" class="bi bi-plus" viewBox="0 0 16 14" id="icono-subir-foto">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </div>
              <div class="perfil"></div>
              <div class="flecha-desplegable"></div> <!-- esto todavia no sabemos como hacerlo -->
            </div>
          
        </nav>
    </header>
    <div class="invisible">
          
    </div>
  {% endblock %}

  {% block principal %}  
        <main >
          {% for i in range (10)%}
            <div class="contenedor-main">
              <div class="imagenes" onclick="agregarDiv(this)">
                <img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="estilo-imagenes" id="info-imagen" >
                <div hidden name="div-agregado" class="claseParaProbar">
                  <div id="caracteristicas">
                    <h3><strong>Remera: </strong>variable</h3>
                    </br>
                    <h3><strong>Remera: </strong>variable</h3>
                    </br>
                    <h3><strong>Remera: </strong>variable</h3>
                    </br>
                    <h3><strong>Remera: </strong>variable</h3>
                  </div>
                </div>
              </div>
              <div class="user-info">
    
                <div class="foto-nombre-usuario">
                  <img src="{{url_for('static', filename='img/foto-perfil.jpg')}}" alt="" class="foto-de-perfil">
                  <p class="estilo-nombre-usuario"><i>@smithmike</i></p> <!--Aca va el nombre del usuario guardado en la base de datos-->
                </div>
                
                <div class="iconos">
                  <div class="icono-favorito" onclick="favorito(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star estilo-icono" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round" id="favorito">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                  </svg>
                  </div>
                  <div class="icono-enviar">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send estilo-icono" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round" id="enviar">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <line x1="10" y1="14" x2="21" y2="3"></line>
                      <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                  </svg>
                  </div>
                </div>
    
              </div>
              <hr>
            </div>
          {%endfor%}

          <section class="publicacion">
            <div class="contenedor-subir">
              <form action="" method="post" class="orden-elementos">
                <div class="subir-archivo">

                </div>
                
                <div class="contenedor-info">
                  <div class="estilo-div">
                    <label for="Remera">Remera</label>
                    <input type="text" placeholder="Modelo">

                    <select name="" id=""></select>

                    <label for="Precio">Precio</label>
                    <input type="number" name="" id="">
                  </div>

                  <div class="estilo-div">
                    <label for="Abrigo">Abrigo</label>
                    <input type="text" placeholder="Modelo">

                    <select name="" id=""></select>

                    <input type="number" name="" id="">
                  </div>

                  <div class="estilo-div">
                    <label for="Pantalon">Pantalon</label>
                    <input type="text" placeholder="Modelo">

                    <select name="" id=""></select>

                    <input type="number" name="" id="">
                  </div>

                  <div class="estilo-div">
                    <label for="Sneaker">Sneaker</label>
                    <input type="text" placeholder="Modelo">

                    <select name="" id=""></select>

                    <input type="number" name="" id="">
                  </div>

                </div>

                <input type="submit" value="">
              
              </form>
            </div>
          </section>
        </main>
      
    {% endblock %}


    <!-- JavaScript Bundle with Popper -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>-->

    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>