{% extends 'base.html' %}

{% block navegador %}
    <div class="estilo mi-perfil" ><h2  id="estilo1"> Mi perfil </h2></div>


{% endblock %}


{% block principal %}
<section class="container">
    <div class="grid-container">
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
        <div ><img src="{{url_for('static', filename='img/outfit1.png')}}" alt="" class="foto"></div>
    </div>
</section>
{% endblock %}